.container_cadastro{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.container_infos{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80%;
    align-self: center;
    border-radius: 15px;
}

.container_infos form{
    text-align: -webkit-center;
}

.container_infos button{
    margin-bottom: 30px;
}


.form-floating{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
}