.home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    min-height: 95vh;
}


.home h1{
  margin-bottom: 60px;
}



html,
body {
  height: 100%;
  margin: 0;
}