.cards{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    height: 175px;
    width: 130px;
    background-color: rgb(255, 255, 255, 0.45) !important;
    border-radius: 20px;
    box-shadow: 5px 2px 2px #D4D4D4;
    align-items: center;
    margin: 20px;
    transition: width 1s, height 1s, background-color 1s;
}

.card:hover{
    width:160px;
    height:200px;
    background-color: rgb(255, 255, 255, 0.85) !important;
}

.card p{
    font-size: 25px;
    font-weight: bolder;
}

.card_button{
    background-color: #41A5F5;
    color: aliceblue;
    font-size: 15px;
    margin: 12px;

    width: 80%;
    height: 40px;
    border-radius: 5px;
}

.card_button:hover{
    box-shadow: 3px 2px 2px #351EE6;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.card_carousel{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-content: center;
}


