.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    height: 5vh;
    align-items: center;
    width: 100%;
}




.menu_ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;

}

.menu_li{
    margin:15px;
    justify-content: center;
    list-style: none;
    
}

.menu_li li{
    width: 30px;
    
}

.menu_link{
    text-decoration: none;
    color: antiquewhite;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
    font-size: 24px;
    background-color: transparent;
    border:none;
}

.menu_link:hover {
    color:#A80B0B;
    
    
    transition: color 0.5s;
  }

.icon{
    color: antiquewhite;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
  }


.container{
    width: 100%;
}

.menu_nav{
    width: 100%;
    
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: row;
}

.menu_nav_links{
    display: flex;
    flex-direction: row;
}


@media screen and (min-width: 991px){
    
    .navbar {
        display: none !important;
    }
    
}

@media screen and (max-width: 991px){
    .menu_link{
        text-align: center;
        color: #0d6efd;
        align-self: flex-start;
        padding: 0px;
        padding: 0.5rem 0rem 1rem;
    }
    .container{
        display: none;
    }
    .navbar_collapse{
        color: #75a1cd;
    }
    .navbar{
        margin-top: 20px;
    }
    .button.navbar-toggler.collapsed{
        border: solid;
    }
}


