.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, red , #8EA0EE);
    height: 5vh;
}




.menu_ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;

}

.menu_li{
    margin-left: 30px;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
    
}

.menu_li li{
    width: 30px;
}

.menu_link{
    text-decoration: none;
    color: antiquewhite;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
}

.menu_link:hover {
    color:#581845;
    
    
    transition: color 0.5s;
  }

  .icon{
    color: antiquewhite;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
  }