.input-group{
    height: 35px;
    width: 70% !important;
}

.searchbar{
    align-self: center;
    width: 30%;
}

@media screen and (max-width: 991px){
    .searchbar{
        width: 100%;
        align-self: center;
    }
}